@media (max-width:720px) {


  .body{
    font-size: 18px;
    margin:0;
    padding:10px;
  }

section{
  padding:0;
  margin:0;
  display:flex;
  gap:3px;
  flex-direction: column-reverse;
}

#findUsImg{

  width: 370px;
  height:300px;
  padding:0;
}

#aboutUsImg2
{
margin-top:20px;
  width:260px;
  height:220px;
}
.mobileTxt{
  width:300px;
  padding:0;
}

.container{
  
  display:flex;
  flex-direction:column;
}



.searchBar{
  padding:1px 1px;
  margin:0;
}


#copyRight{
  margin:0;
  padding:0;
}

#footerItems{
  font-size: 10px;
}

.menu{
margin:0;
padding:0;
}

.menu a{
  margin-left:3px;
  margin-right:4px;

  padding:0;
}


.logo{
  flex: left;
  margin:0;
}


.navBar ul{

  display:flex;
  flex-direction: column;
}



#hamburger{

  display:block;
}


}

#hamburger{

  display:none;
}
